/**
 * ---------------------------------------------------------------------------------------------------- #
 *
 *  Global Stylesheet - general, frame, grid
 *
 */

html {
    font-size: $default-font-size +px;
}

body {
    font-family: $fontmain;
    @include font-height-em(16, 22);
    text-align: left;
    color: $textcolor;
    background-color: $grey;
    -webkit-tap-highlight-color: transparent;
}


/**
 * General text renderings
 *
 */

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

address {
    font-style: normal;
}


/**
 *
 * Hyperlinks
 *
 */

a,
a:visited {
    text-decoration: none;
    color: $grey;
}

a:hover,
a:active,
a:focus {
    outline: 0 none;
    text-decoration: underline;
}


/**
 *
 * General Layout
 *
 */


.page {
    max-width: $main-grid-width;
    min-width: $breakpoint-min-mobile;
    margin: 0 auto;
    background-color: $white;
}


/**
 *
 *  Header
 *
 */

.header {
    background-color: $grey;

    @include respond-to(desktop,mobile) {
        background-color: $darkgrey;
    }
}

/**
 *
 * Main content
 *
 */

.main {
    min-height: 400px;
    padding: 20px;
}



/**
 *
 * Footer
 *
 */

.footer {
    background-color: $grey;
}