 //
 // ---------------------------------------------------------------------------------------------------- #
 //
 // Variables
 //
 //

// colors
$white: #fff;
$black: #000;
$grey: #eeecec;
$darkgrey: #333;

$textcolor: #6e7375;

// fonts
$default-font-size: 16;

$fontmain: Arial, sans-serif;

// grid
$main-grid-width: 960px;

// breakpoints
$breakpoint-min-mobile: 320px;
$breakpoint-max-mobile: 568px;
$breakpoint-min-tablet: 569px;
$breakpoint-max-tablet: $main-grid-width;
$breakpoint-min-desktop: 961px;

// fallback settings: if not active respond-to won't render a fallback
$respond-to-no-mediaqueries-fallback: desktop;
$respond-to-fallback-class: ie8lte;

$respond-to-breakpoints: (
    desktop "(min-width:"+$breakpoint-min-desktop+")",
    tablet "(min-width:"+$breakpoint-min-tablet+") and (max-width:"+$breakpoint-max-tablet+")",
    mobile "(max-width:"+$breakpoint-max-mobile+")"
);