 //
 // ---------------------------------------------------------------------------------------------------- #
 //
 // Web and Iconfonts
 //
 //

@font-face {
	font-family: "";
	src: local("local font name");
	src: url('fonts/.eot');
	src: url('fonts/.eot?#iefix') format('embedded-opentype'),
		 url('fonts/.woff') format('woff'),
		 url('fonts/.ttf') format('truetype'),
		 url('fonts/.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
